
{% extends "page.html" %}
{%- from "analyze/modals.html" import terminate_modal with context %}


{% block javascript %}
{{ super() }}
<script type="text/javascript">
  require(
    [
      "jquery",
      "js/analyze/terminator"
    ],
    function($, terminator) {
        terminator.attachTo(".vm-terminator")
    });
</script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-9">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Instance Name</th>
          <th>OS</th>
          <th>Size</th>
          <th>Status</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% if vms %}
      {% for vm in vms %}
        <tr>
          <td>{{ vm.name }}</td>
          <td>{{ vm.image }}</td>
          <td>{{ vm.size }}</td>
          <td>{{ vm.status }}</td>
          <td>{{ vm.created }}</td>
          <td>
            <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-external-link"></i> Connect</a>
            <a class="btn btn-sm btn-warning vm-terminator" data-terminate-url="{{ url_for('.terminate', vm_id=vm.id) }}"
               data-vm-name="{{ vm.name }}" href="#"><i class="fa fa-power-off"></i> Terminate</a>
          </td>
        </tr>
      {% endfor %}
        
    {% else %} 
       <tr> 
        <td colspan=7 class="text-center">
            <h2>You have no VM instances!</h2>
            <h3>Go and run some</h3>
        </td>
       </tr>
    {% endif %}
      </tbody>
    </table>
  </div> 

  <div class="col-md-3">
    <a href="{{ url_for('.launch') }}" class="btn btn-primary btn-raised">Run a VM</a>
  </div> 
</div>

{{ terminate_modal() }}

{% endblock body %}
