{% macro terminate_modal() %}
<div class="modal fade" id="terminateModal" tabindex="-1" role="dialog" aria-labelledby="terminateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="terminateModalLabel">Terminate VM</h4>
      </div>
      <div class="modal-body">
        Please confirm that you want to terminate <b><span id="terminateModal-vm"></span></b>. This action cannot be undone. 
      </div>
      <div class="modal-footer">
        <form id="terminateModal-form" method="POST">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-warning">Terminate</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro connector_modal() %}
<div class="modal fade" id="connectorModal" tabindex="-1" role="dialog" aria-labelledby="connectorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="connectorModalLabel">Connect to VM</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" id="connectorModalError" style="display: None;"></div>
        <div id="connectorModalWait" class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Getting connection data
        </div>
        <div class="alert alert-info" id="connectorModalInfo" style="display: None;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
