-e git+https://github.com/aeonium/invenio@v2.0.5-lw#egg=Invenio-2.0
# current alembic version does not work for the upgrader, enforce 0.7.6
alembic==0.7.6
###################
# TODO: THESE ARE FROM ZENODO.DEPOSIT, CHECK IF REALLY NEEDED
idutils
altmetric
###################
github3.py
flask-sso
pymongo
# e-infra stuff
cryptography
humanize
python-novaclient
voms-auth-system-openstack
PyYaml
python-etcd
# v2.2.1 breaks everything :(
intbitset==2.0
# setuptools 18.6 breaks installing with -e
setuptools==18.5
