{{!
  This file is part of Invenio.
    Copyright (C) 2014 CERN.

    Invenio is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License as
    published by the Free Software Foundation; either version 2 of the
    License, or (at your option) any later version.

    Invenio is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Invenio; if not, write to the Free Software Foundation, Inc.,
          59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 }}


<div id="{{file.id}}">
  <div id="errorList-{{file-id}}" class="col-md-12">
  </div>  
  </div>
  <div class="col-md-10">
    <div id="state-group-name-{{file.id}}" class="form-group">
      <label class="control-label col-md-3" for="file-name-{{file.id}}">Name</label>
      <div id="field-file-name-{{file.id}}" class="col-md-9">
        <input id="file-name-{{file.id}}" class="form-control" type="text"
               value="{{file.name}}" readonly="true" />
      </div>
    </div>
    <div id="state-group-desc-{{file.id}}" class="form-group">
      <label class="control-label col-md-3" for="file-desc-{{file.id}}">Description</label>
      <div id="field-file-desc-{{file.id}}" class="col-md-9">
        <input id="file-desc-{{file.id}}" class="form-control" type="text"
               placeholder="Provide a description of file contents" value="{{file.description}}"
               name="file_description-{{file.index}}-description"></input>
        <input id="file-id-{{file.id}}" class="form-control" type="hidden"
               value="{{file.id}}" name="file_description-{{file.index}}-file_id"></input>

      </div>
    </div>
    <div id="state-group-prog-{{file.id}}" class="form-group">
      <label class="control-label col-md-3">Upload Progress</label>
      <div id="field-file-prog-{{file.id}}" class="col-md-9">
      <div class="progress" style="height: 34px; text-align: center;">
        <strong id="progress-info-{{file.id}}" style="position: absolute; left: 0; right: 0; color: black; line-height:34px;"></strong>
        <div id="progress-bar-{{file.id}}" class="form-control progress-bar progress-bar-info" style="width: {{file.percent}}%;"></div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 text-center">
    <a class="fa fa-trash-o fa-fw fa-2x rmlink" data-file-id="{{file.id}}"></a><br />
    <br/><strong style="line-heiht: 34px;">{{file.size}}</strong><br />
    </div>
  <div class="col-xs-12"><hr/></div>
</div>
