{{!
  This file is part of Invenio.
  Copyright (C) 2014 CERN.

  Invenio is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of the
  License, or (at your option) any later version.

  Invenio is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Invenio; if not, write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
}}


<div id="{{file.id}}">
            <div class="col-md-10">

                <div id="state-group-name-{{file.id}}" class="form-group">
                    <label class="control-label col-md-3" for="file-name-{{file.id}}">Name</label>
                    <div id="field-file-name-{{file.id}}" class="col-md-9">
                        <input id="file-name-{{file.id}}" class="form-control" type="text"
                         value="{{file.name}}" readonly="true"></input>
                    </div>
                </div>
                <div id="state-group-desc-{{file.id}}" class="form-group">
                    <label class="control-label col-md-3" for="file-desc-{{file.id}}">Description</label>
                    <div id="field-file-desc-{{file.id}}" class="col-md-9">
                        <input id="file-desc-{{file.id}}" class="form-control" type="text"
                         placeholder="Provide a description of file contents" value="{{file.description}}"></input>
                    </div>
                </div>
                {{^downloadable}}
                <div class="form-group">
                    <label class="control-label col-md-3">Upload Progress</label>
                    <div class="progress" style="heigh: 10px">
                        <div id="progress-bar-{{file.id}}" class="progress-bar progress-bar-default" style="width: {{file.percent}}%;"></div>
                  </div>
                </div>
                {{/downloadable}}

            </div>
            <div class="col-md-2 text-center">
                <a class="fa fa-trash-o fa-fw fa-2x rmlink" data-file-id="{{file.id}}"></a><br />
                <br/><strong>{{file.size}}</strong><br />
            </div>
            <div class="col-xs-12"><hr /></div>
</div>
