{% if current_user.is_guest %}
<li class="uppercase">
<a class="" href="{{url_for('webaccount.login')}}" title="{{ _('Login') }}">
  <i class="fa fa-sign-in"></i> {{ _('Login') }}
</a>
</li>
{% else %}
<li class="dropdown">
<a class="fa fa-user fa-3x valign dropdown-toggle" data-toggle="dropdown" href="#"></a>
<ul id="usermenu" class="dropdown-menu">
  <li>
  <strong>
    {{ current_user.nickname|default(current_user.email) }}
  </strong>
  </li>
  {%- for item in current_menu.submenu('settings').children if item.visible %}
  <li><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
  {%- endfor %}
  <li>
  <a href="{{ url_for('webaccount.logout') }}">
    <i class="glyphicon glyphicon-log-out"></i> {{ _('Logout') }}
  </a>
  </li>
</ul>
</li>
{% endif %}





