#map-wrapper {
  border-radius: 4px;
  border: 1px solid #CCC;
  background: #EEE
}

#map {
  border-radius: 4px;
  padding: 3px;
  height: 400px;
  width: 100%;
}

.valign {
  vertical-align: middle;
  height: 100%;
}


.file-resource {
  margin-bottom: 20px;
}

.file-resource-type {
  height: 80px;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid #CCC;

}

.file-resource-text {
  height: 80px;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid #CCC;

}

.file-resource-download {
  height: 80px;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid #CCC;

}

#webdeposit_form_accordion > .panel-default
> .panel-heading {
  font-size:18px;
  font-weight: bold;
  padding: 30px 25px;
}

#webdeposit_form_accordion > .panel-default
.panel-body {
  padding-left: 15px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-top: 50px;
}

#webdeposit_form_accordion > .panel-default
.panel-body > p {
  padding-left: 100px;
  padding-bottom: 20px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
  background: #F1F1F1;
}

.navbar-default, .panel-heading {
  background: white;
}


.hide-on-collapsed {
  display: block;
}

.show-on-collapsed {
  display: none;
}

.panel-toggle.collapsed .hide-on-collapsed {
  display: none;
}

.panel-toggle.collapsed .show-on-collapsed {
  display: block;
}


/* loader */
.loader, .state-success, .state-failure, .state-danger {
  margin-right: 10px;
}

.loader img, .state-success, .state-failure, .state-danger {
  display: none;
}

.loading img {
  display: inline;
}

.loader .loading img {
  display: inline;
}
