footer {
  background: #032B10;
  color: white;
  min-height: 96px;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:visited {
  color: #0A7C2C;
  text-decoration: none;
  font-size: 0.9em;
}

footer a:hover {
  color: #69C774;
}

.footer-container div {
  padding: 30px 40px;
}

footer .separator {
  margin-left: 5px;
  margin-right: 5px;
  color: #0A722C
}

#invenio-logo {
  height: 15px;
}

@media (max-width: 992px) {

  .footer-container div {
    padding: 10px 40px;
    text-align: center;
    float: none !important;
  }

 .footer-container div:first-child {
      padding-top: 30px;
  }

 .footer-container div:last-child {
      padding-bottom: 30px;
  }

}
