.panel-sharp {
  margin-bottom: 20px;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 1px 2px 1px #DDD;
}

.panel-forest {
  border-color: #00401B;

}

.panel-forest > .panel-heading {
  color: #FFF;
  background-color: #00401B;
  font-size: 1.4em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.4;
  border-radius: 0px;
  border-bottom: 4px solid #002B12;
  border-top: 2px solid #002B12;

}

.panel-forest > .panel-heading .fa {
  font-weight: 100;
  font-size: 1.5em;
  margin-right: 8px;
  vertical-align: middle;
}

.panel-forest > .panel-body {
  background: #EEF6F5;
}

.panel-forest > .panel-body .nav-list .list-group-item {
  border-radius: 0px;
}


.panel-list-wrapper,
.panel-list-wrapper-xs {
  padding: 0px 15px 15px;
  background: #F1F1F1 none repeat scroll 0% 0%;
  box-shadow: 1px 1px 4px #DDD;
}

.panel-deposit {
  background-color: #F1F1F1;
  margin: 0px;
}

.panel-deposit.panel-sharp {
  box-shadow: none;
}

.panel-deposit > .panel-heading {
  color: #000;
  background-color: #F1F1F1;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px;
  border-bottom: 2px solid #00401B;
  font-size: 1.4em;
}

.panel-deposit > .panel-heading .fa  {
  font-weight: 100;
  margin-right: 8px;
  vertical-align: middle;
}

.panel-deposit  .panel-body {
  background: #EEF6F5;
  margin: 10px 20px;
  border: 1px solid #CCC;
}

.panel-deposit > .panel-body .nav-list .list-group-item {
  border-radius: 0px;
}
