
.well {
  border-radius: 0px;
}

.panel-list-wrapper,
.panel-list-wrapper-xs {
  border: 1px solid #E3E3E3;
  padding: 0px 15px 15px;
  background: #F1F1F1 none repeat scroll 0% 0%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}


.panel {
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: 1px 2px 1px #DDD;
  border: 1px solid transparent;
}

.panel-group .panel {
  margin-bottom: 0px;
  border-radius: 0px;
}

.panel-heading,
.panel-body  {
  border-radius: 0;
}

.panel-deposit.panel-body {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;

}

.panel-primary {
  border-color: #00481D;
}

.panel-primary .btn-primary {
  border-color: #00481D;
}

.panel-primary > .panel-heading {
  color: #FFF;
  background-color: #008035;
  font-size: 1.4em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.4;
  border: none;
}

.panel-primary > .panel-heading .fa {
  font-weight: 100;
  font-size: 1.5em;
  margin-right: 8px;
  vertical-align: middle;
}

.panel-primary > .panel-body {
  background: #F1F1F1;
  border-top: 2px solid #00481D;

}

.panel-primary > .panel-body .nav-list .list-group-item {
  border-radius: 0px;
}




.panel-default {
  border-color: #4B4A4A;
}

.panel-default .btn-default {
  border-color: #4B4A4A;
}

.panel-default > .panel-heading {
  color: #FFF;
  background-color: #AAAAAA;
  font-size: 1.4em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.4;
  border: none;
}

.panel-default > .panel-heading .fa {
  font-weight: 100;
  font-size: 1.5em;
  margin-right: 8px;
  vertical-align: middle;
}

.panel-default > .panel-body {
  background: #F1F1F1;
  border-top: 2px solid #4B4A4A;

}

.panel-default > .panel-body .nav-list .list-group-item {
  border-radius: 0px;
}



.panel-deposit {
  background-color: #F1F1F1;
  margin: 0px;
  box-shadow: none;
}

.panel-deposit > .panel-heading {
  color: #000;
  background-color: #F1F1F1;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px;
  border-bottom: 2px solid #00401B;
  font-size: 1.4em;
}

.panel-default > .panel-heading .fa,
.panel-deposit > .panel-heading .fa  {
  font-weight: 100;
  margin-right: 8px;
  vertical-align: middle;
}

.panel-default .panel-body,
.panel-deposit .panel-body {
/*  background: #EEF6F5; */
  background: #F9F9F9;
  margin: 10px 20px;
  border: 1px solid #CCC;
}


.panel-deposit > .panel-body .nav-list .list-group-item {
  border-radius: 0px;
}

