{%- extends "profile/profile_base.html" -%}
{%- import "profile/helpers.html" as helpers with context %}
{%- from "_formhelpers.html" import render_field with context %}

{% block settings_body %}
{{helpers.panel_start('e-Insfracture info', icon='fa fa-cloud fa-fw')}}
  {% if user_dn %}
  {{ helpers.delegation_info() }}
  {% else %}
  <p>Your certificate was not detected, you will not be able to access the e-Infrastructure</p>
  {% endif %}
{{helpers.panel_end()}}

{{ helpers.delegate_modal() }}
{% endblock %}
